/* Layout styles */

/*
    Source : https://github.com/anamoffial1/My-Portofolio.git
    Developer : Anam Official
    Telegram : t.me/PraiOfficial
    
    Chanel WhatsApp : https://whatsapp.com/channel/0029VbBF8o460eBemg300Z3H
    Chanel Telegram : https://t.me/AnamchanelX 
    
[ MY SOCIAL MEDIA ]
    Github: https://github.com/anamofficial1
    Tiktok : https://tiktok.com/anamvx_
    Instagram : https://instagram.com/azizulanam_
    YouTube : https://youtube.com/@anamtrader    


*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.header {
    text-align: center;
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.content {
    display: grid;
    gap: 2rem;
    padding: 2rem 0;
}