/*
    Source : https://github.com/anamoffial1/My-Portofolio.git
    Developer : Anam Official
    Telegram : t.me/PraiOfficial
    
    Chanel WhatsApp : https://whatsapp.com/channel/0029VbBF8o460eBemg300Z3H
    Chanel Telegram : https://t.me/AnamchanelX 
    
[ MY SOCIAL MEDIA ]
    Github: https://github.com/anamofficial1
    Tiktok : https://tiktok.com/anamvx_
    Instagram : https://instagram.com/azizulanam_
    YouTube : https://youtube.com/@anamtrader    


*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #fff;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
                url('https://picsum.photos/1920/1080') no-repeat center center fixed;
    background-size: cover;
}